body {
  margin: 0;
  padding: 0 !important;
  font-family: 'Epilogue';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

form {
  display: flex;
  flex-direction: column;
}

button {
  width: 115px; 
  margin-top: 20px;
}

img {
  width: 100%;
}

label {
  margin-top: 20px;
}

.form-label {
  font-size: 18px;
}

.space-checkbox {
  margin-right: 10px;
}

.container-cards {
  display: flex;
  justify-content: space-around;
  margin: auto;
  width: 100%;
  border-bottom: 5px solid #023031 ;
}

.create-cards {
  padding: 6%;
  width: 50%;
}

.title-form {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 29px;
  color: #444955;
  margin-bottom: 50px;
}

.description-card {
  font-size: 10px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.cards-left {
  background-color: #023031;
  color: #FFFFFF;
}

.cards-left .title-form {
  color: #FFFFFF;
}

.label-attr {
  display: flex;
  align-items: center;
}

.label-attr input {
  margin-left: 10px;
}

.card {
  background-color: #036B52;
  border: 10px solid #FFFFFF;
  border-radius: 5px;
  padding: 40px;
  width: 400px;
  margin: auto;
}

.boder-card {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.attrs {
  background-color: #FFFFFF;
  color: #3D495C;
  font-size: 20px;
  padding: 15px;
  margin: auto;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 30px;
}

.attr-color {
  background-color: #023031;
  color: #FFFFFF;
  padding: 7px;
  border-radius: 10px;
  margin-left: 10px;
}

.card-rare {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-rare h3 {
  font-size: 20px;
}

.super-trunfo {
  background-color: #023031;
  font-size: 18px;
  color: #FFFFFF;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.cards-list {
  background-color: #FFFFFF;
  width: 500px;
  color: #FFFFFF;
}

.contanier-cards-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.filter-inputs {
  width: 30%;
  padding: 6%;
}

.cards-filter-list {
  width: 70%;
  padding-top: 15%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.delete-button {
  margin-left: 37%;
}